.footer-widgets-wrap {
	padding: 2.5em 0 0;
	border-top: 1px solid;
	@include border-color(--footer-border-color);
}

.footer-widgets-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -3em;
}

.footer-widget-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	padding-right: 3em;
	width: 33.333333333333%;
}

.footer-widget-column .widget {
	width: 100%;
}

@media only screen and (max-width: 80em) {
	.footer-widgets-columns {
		margin-right: -2em;
	}

	.footer-widget-column {
		padding-right: 2em;
	}

	.footer-navigation-menu {
		padding: 2em 0;
	}
}

/* Footer Columns Fixes for IE 10 and IE 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.footer-widgets-columns {
		display: block;
	}

	.footer-widget-column {
		display: block;
		float: left;
	}
}

@media only screen and (max-width: 60em) {
	.footer-widgets-columns {
		margin-right: 0;
	}

	.footer-widget-column {
		display: block;
		float: none;
		padding-right: 0;
		width: 100%;
	}

	.footer-widgets-background {
		padding: 2em 0 0;
	}

	.footer-widgets .widget {
		margin: 0 0 2em;
	}
}

@media only screen and (max-width: 35em) {
	.footer-widgets {
		margin-right: 0;
	}

	.footer-widget-column {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 30em) {
	.footer-widgets-background {
		padding: 1.5em 0 0;
	}

	.footer-widgets {
		margin-right: -1.5em;
	}

	.footer-widget-column {
		padding-right: 1.5em;
	}

	.footer-widgets .widget {
		margin: 0 0 1.5em;
	}
}
