.before-header-widget-area {
	padding-top: 3em;

	.widget:last-child {
		margin-bottom: 0;
	}
}

.after-header-widget-area {
	.widget:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 80em) {
	.before-header-widget-area {
		padding-top: 2em;
	}
}
